<?page title="User" contentType="text/html;charset=UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:w="client">
	<style>
		.button { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; height: 35px; width: 80px;
		font-size: 12pt; color:white; text-align: center;
		font-family:Calibri Light ; }

		.button:hover { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; opacity:0.4 }
	</style>
	<window title="" border="normal" sclass="content-window"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('id.co.indocyber.bmmRmiCms.controller.VSActivitiesEntryVmd')"
		contentStyle="overflow:auto;">
		<label value="Visit Activity Entries" style="font-size:24px;" />
		<separator bar="true" />
		<hbox width="100%">
			<cell width="50%">
				<textbox zclass="textbox" onOK="@command('src')"
					value="@bind(vm.arg)" placeholder="Cari" width="60%" />
				<button label="Search" onClick="@command('src')" />
			</cell>
			<cell width="50%"></cell>
		</hbox>
		<separator bar="true" />
		<grid>
			<columns>
				<column width="20%" />
				<column width="80%" align="right" />
			</columns>
			<rows>
				<row>
					<hbox>
						<button label="+ BARU" onClick="@command('add')" disabled="@load(vm.btnAdd)" />
						<button label="RELOAD" onClick="@command('reload')" w:onClick="jq('$listSpta').hide().slideDown(1000)" />
					</hbox>
					<hlayout>
						<button sclass="pageControl" label="&lt;&lt;"
							onClick="@command('switchPage',action='first')"
							disabled="@load(vm.pageNo eq 1)" />
						<button sclass="pageControl" label="&lt;"
							onClick="@command('switchPage',action='prev')"
							disabled="@load(vm.pageNo eq 1)" />
						<button sclass="pageNum"
							label="@load(vm.pageNo-2 le 0 ? '' : vm.pageNo-2)"
							onClick="@command('switchPage',action=self.label)"
							disabled="@load(vm.pageNo-2 le 0)" style="color:grey" />
						<button sclass="pageNum"
							label="@load(vm.pageNo-1 le 0 ? '' : vm.pageNo-1)"
							onClick="@command('switchPage',action=self.label)"
							disabled="@load(vm.pageNo-1 le 0)" style="color:grey" />
						<button sclass="pageNum"
							label="@load(vm.pageNo)"
							onClick="@command('switchPage',action=self.label)"
							disabled="true" style="color:black" />
						<button sclass="pageNum"
							label="@load(vm.pageNo+1 gt vm.maxPage ? '' :vm.pageNo+1)"
							onClick="@command('switchPage',action=self.label)"
							disabled="@load(vm.pageNo+1 gt vm.maxPage)" style="color:grey" />
						<button sclass="pageNum"
							label="@load(vm.pageNo+2 gt vm.maxPage ? '' :vm.pageNo+2)"
							onClick="@command('switchPage',action=self.label)"
							disabled="@load(vm.pageNo+2 gt vm.maxPage)" style="color:grey" />
						<button sclass="pageControl" label="&gt;"
							onClick="@command('switchPage',action='next')"
							disabled="@load(vm.pageNo ge vm.maxPage)" />
						<button sclass="pageControl" label="&gt;&gt;"
							onClick="@command('switchPage',action='last')"
							disabled="@load(vm.pageNo ge vm.maxPage)" />
					</hlayout>
				</row>
			</rows>
		</grid>
		<listbox id="listSpta"
			emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda."
			model="@load(vm.entryList)" mold="paging" pagingPosition="bottom"
			pageSize="25">
			<listhead>
				<listheader label="Nama Petugas" width="15%" sort="auto(employeeId)" onSort="@command('sort',col='employeeId')" />
				<listheader label="Jenis Kegiatan" width="15%" sort="auto(activityType)" onSort="@command('sort',col='activityType')" />
				<listheader label="Isi" width="30%" sort="auto(activityInfo)" onSort="@command('sort',col='activityInfo')" />
				<listheader label="Lokasi" width="20%" sort="auto(location)" onSort="@command('sort',col='location')" />
				<listheader label="Status" width="20%" sort="auto(isActive)" onSort="@command('sort',col='isActive')" />
				<listheader label="Tanggal" width="20%" sort="auto(createdDate)" onSort="@command('sort',col='createdDate')" />
				<listheader label="Status" width="5%" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell label="@load(each.employee.fullname)" />
					<listcell label="@load(each.activityType)" />
					<listcell label="@load(each.activityInfo)" />
					<listcell label="@load(each.location)" />
					<listcell>
						<button
							visible="@load(each.isActive ? 'true' : 'false') "
							onClick="@command('ubahStatusAktif', dto = each)"
							label="Aktif" sclass="darkblue-btn" style="background: #d6f3c;" />
						<button
							onClick="@command('ubahStatusNonAktif', dto = each)"
							visible="@load(each.isActive ? 'false' : 'true')"
							label="Non Aktif" sclass="orange-btn" style="background: #fab047;" />
					</listcell>
					<listcell label="@load(each.createdDate) @converter('formatedDate',format='dd-MM-yyyy')" />
					<listcell>
						<a onClick="@command('edit', item=each)" visible="@load(!vm.btnEdit and each.isActive)" tooltiptext="Edit kendaraan">
							<image src="res/icon_edit.png"
								style="width:15px;" />
						</a>
					</listcell>
				</listitem>
			</template>
		</listbox>
		<div style="float:right;">
			Page
			<label value="@load(vm.pageNo)" />
			of
			<label value="@load(vm.maxPage)" />
			, total
			<label value="@load(vm.recordCount) " />
			entries.
		</div>
		<window onClose="self.visible = false; event.stopPropagation();"
			closable="true" width="50%" visible="@bind(vm.editMode)" mode="modal"
			contentStyle="overflow:auto"
			style="-webkit-box-shadow: 1px 1px 10px 3px #969696; box-shadow: 1px 1px 10px 3px #969696;"
			xmlns:w="client">
			<label value="Add Aktivitas" style="font-size:24px;" />
			<a onClick="self.getParent().setVisible(false)">
				<image src="/res/icon_close.png" style="float:right; width:25px;"> </image>
			</a>
			<grid>
				<columns>
					<column width="35%" />
					<column width="65%" />
				</columns>
				<rows>
					<row>
						<label value="Petugas"></label>
						<bandbox
							value="@load(vm.viewEntry.employee.fullname)" readonly="true"
							onOpen="@command('loadListProfile',tb=x1)" width="250px">
							<bandpopup width="33%">
								<vbox>
									<hbox>
										Search:
										<textbox id="x1"
											onChange="@command('refEmp',src=self.value)" instant="true" />
									</hbox>
									<listbox
										emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda."
										model="@load(vm.fEmpList)"
										selectedItem="@bind(vm.viewEntry.employee)" mold="paging"
										pageSize="25"
										onSelect="((Bandbox)self.getParent().getParent().getParent()).close()">
										<listhead>
											<listheader label="ID" />
											<listheader label="Name" />
											<listheader label="Role" />
											<listheader label="Atasan" />
										</listhead>
										<template name="model">
											<listitem>
												<listcell label="@load(each.id)" />
												<listcell label="@load(each.fullname)" />
												<listcell label="@load(each.employeePosition)" />
												<listcell label="@load(each.manager.fullname)" />
											</listitem>
										</template>
									</listbox>
								</vbox>
							</bandpopup>
						</bandbox>
					</row>
					<row>
						<label value="Jenis Kegiatan"></label>
						<combobox readonly="true" model="@load(vm.activities)" constraint="no empty: Kegiatan harus dipilih"
							selectedItem="@bind(vm.viewEntry.activityType) @save(vm.viewEntry.activityType, before='save')" 
							value="@load(vm.viewEntry.activityType eq null ? '' : vm.viewEntry.activityType)"
							>
							<template name="model">
								<comboitem label="@load(each eq null ? '-' : each)"
									value="@load(each)">
								</comboitem>
							</template>
						</combobox>
					</row>
					<row>
						<label value="Informasi Kegiatan"></label>
						<textbox value="@bind(vm.viewEntry.activityInfo) @save(vm.viewEntry.activityInfo,before='save')"
						constraint="no empty: Info Harus Diisi"/>
					</row>
					<row>
						<label value="Lokasi"></label>
						<textbox value="@bind(vm.viewEntry.location) @save(vm.viewEntry.location,before='save')"
						constraint="no empty: Lokasi Harus Diisi"/>
					</row>
				</rows>
			</grid>
			<hlayout >
				<button label="SIMPAN" onClick="@command('save',btn=self)" />
				<button label="BATAL" onClick="self.getParent().getParent().setVisible(false)" />
			</hlayout>
		</window>
		<!-- START msgBOX SUCCESS -->
		<include src="/layout/msgFree.zul" />
		<!-- END msgBOX SUCCSESS -->

		<!-- START msgBOX SUCCESS -->
		<include src="/layout/confirm.zul" />
		<!-- END msgBOX SUCCSESS -->
	</window>
</zk>