<zk>
	<borderlayout hflex="1" vflex="1">
		<north border="none" sclass="head" style="overflow: visible;">
			<include src="/layout/banner.zul"></include>			
		</north>
		<west title=" " size="18%" border="none" collapsible="true" flex="true" sclass="aside">
			<include src="/layout/sidebar.zul"></include>
		</west>
		<center id="mainContent" border="none" self="@insert(mainContent)" sclass="main" style="overflow:auto;">
		
		</center>
	</borderlayout>
</zk>