<?page title="User" contentType="text/html;charset=UTF-8"?>
<zk xmlns:w="client">
	<style>
		.button { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; height: 35px; width: 80px;
		font-size: 12pt; color:white; text-align: center;
		font-family:Calibri Light ; }

		.button:hover { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; opacity:0.4 }
	</style>
	<window title="" border="normal" sclass="content-window"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('id.co.indocyber.bmmRmiCms.controller.MDPenilaianTebuVmd')"
		contentStyle="overflow:auto;">
		<label value="Penilaian Tebu" style="font-size:24px;"/>
		<separator bar="true"/>
		<hbox width="100%">
			<cell width="50%">
				<textbox zclass="textbox" onOK="@command('src')" value="@bind(vm.arg)"
					placeholder="Cari" width="60%"/>
				<button label="Search" onClick="@command('src')"/>
			</cell>
			<cell width="50%">
			</cell>
		</hbox>
		<separator bar="true"/>
		<grid>
			<columns>
				<column width="20%" />
				<column width="80%" align="right" />
			</columns>
			<rows>
				<row>
					<hbox>
						<button label="+ BARU" onClick="@command('add')" disabled="@load(vm.btnAdd)" />
						<button label="RELOAD" onClick="@command('reload')" w:onClick="jq('$listPenilaianTebu').hide().slideDown(1000)"/>
					</hbox>
					<hlayout>
						<button sclass="pageControl" label="&lt;&lt;"
							onClick="@command('switchPage',action='first')"
							disabled="@load(vm.pageNo eq 1)" />
						<button sclass="pageControl" label="&lt;"
							onClick="@command('switchPage',action='prev')"
							disabled="@load(vm.pageNo eq 1)" />
						<button sclass="pageNum" label="@load(vm.pageNo-2 le 0 ? '' : vm.pageNo-2)" onClick="@command('switchPage',action=self.label)" disabled="@load(vm.pageNo-2 le 0)" style="color:grey"/>
						<button sclass="pageNum" label="@load(vm.pageNo-1 le 0 ? '' : vm.pageNo-1)" onClick="@command('switchPage',action=self.label)" disabled="@load(vm.pageNo-1 le 0)" style="color:grey"/>
						<button sclass="pageNum" label="@load(vm.pageNo)" onClick="@command('switchPage',action=self.label)" disabled="true" style="color:black"/>
						<button sclass="pageNum" label="@load(vm.pageNo+1 gt vm.maxPage ? '' :vm.pageNo+1)" onClick="@command('switchPage',action=self.label)" disabled="@load(vm.pageNo+1 gt vm.maxPage)" style="color:grey"/>
						<button sclass="pageNum" label="@load(vm.pageNo+2 gt vm.maxPage ? '' :vm.pageNo+2)" onClick="@command('switchPage',action=self.label)" disabled="@load(vm.pageNo+2 gt vm.maxPage)" style="color:grey"/>
						<button sclass="pageControl" label="&gt;"
							onClick="@command('switchPage',action='next')"
							disabled="@load(vm.pageNo ge vm.maxPage)" />
						<button sclass="pageControl" label="&gt;&gt;"
							onClick="@command('switchPage',action='last')"
							disabled="@load(vm.pageNo ge vm.maxPage)" />
					</hlayout>
				</row>
			</rows>
		</grid>
		<listbox id="listPenilaianTebu" emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda."  model="@load(vm.paramList)" mold="paging"
			pagingPosition="bottom" pageSize="25">
			<listhead>
				<listheader label="Param Code" width="10%" />
				<listheader label="Uraian" width="25%" sort="auto(paramValue)" onSort="@command('sort',col='paramValue')"/>
				<listheader label="Criteria" width="20%" sort="auto(criteria)" onSort="@command('sort',col='criteria')"/>
				<listheader label="Bobot" width="15%" sort="auto(weight)" onSort="@command('sort',col='weight')"/>
				<listheader label="Status" width="15%" sort="auto(isActive)" onSort="@command('sort',col='isActive')"/>
				<listheader label="Action" width="15%" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell label="@load(each.paramCode)" />
					<listcell label="@load(each.paramValue)" />
					<listcell label="@load(each.criteria)" />
					<listcell label="@load(each.weight)" />
					<listcell>
						<button
							visible="@load(each.isActive ? 'true' : 'false') "
							onClick="@command('ubahStatusAktif', dto = each)"
							label="Aktif" sclass="darkblue-btn" style="background: #d6f3c;" />
						<button
							onClick="@command('ubahStatusNonAktif', dto = each)"
							visible="@load(each.isActive ? 'false' : 'true')"
							label="Non Aktif" sclass="orange-btn" style="background: #fab047;" />
					</listcell>					
					<listcell>
						<a onClick="@command('edit', item=each)" visible="@load(!vm.btnEdit and each.isActive)" tooltiptext="Edit penilaian tebu">
							<image src="res/icon_edit.png"
								style="width:15px;" />
						</a>
<!-- 						<a onClick="@command('del', item=each)" visible="@load(!vm.btnDel)" tooltiptext="Disable param ${each.paramValue}."> -->
<!-- 							<image src="res/icon_close.png" -->
<!-- 								style="width:15px" /> -->
<!-- 						</a> -->
					</listcell>
				</listitem>
			</template>
		</listbox>
		<div style="float:left;">
			<label value="Total Bobot: "></label>
			<label value="@load(vm.maxScore)"></label>
			<label value=" / 100.0"></label>
		</div>
		<div style="float:right;">
			Page
			<label value="@load(vm.pageNo)" />
			of
			<label value="@load(vm.maxPage)" />
			, total
			<label value="@load(vm.recordCount) " />
			entries.
		</div>
		<window onClose="self.visible = false; event.stopPropagation();"
		 	closable="true" width="400px"
			visible="@bind(vm.editMode)" mode="modal" contentStyle="overflow:auto"
			style="-webkit-box-shadow: 1px 1px 10px 3px #969696;
					box-shadow: 1px 1px 10px 3px #969696;"
			xmlns:w="client">
			<label value="@load(vm.editParam.createdDate eq null ? 'Tambah':'Edit')" style="font-size:24px;"/>
			<label value=" Penilaian Tebu" style="font-size:24px;" />
			<a onClick="self.getParent().setVisible(false)"><image src="/res/icon_close.png" style="float:right; width:25px;"></image></a>
			<grid>
				<columns>
					<column width="20%" />
					<column width="80%" />
				</columns>
				<rows>
					<row>
						<hbox><label value="*" style="color:red; font-weight: bold;"/><label value="Uraian" hflex="1"/></hbox>
						<textbox value="@bind(vm.editParam.paramValue) @save(vm.editParam.paramValue, before='save')"
						constraint="no empty: Uraian harus diisi."/>
					</row>
					<row>
						<hbox><label value="*" style="color:red; font-weight: bold;"/><label value="Kriteria" hflex="1"/></hbox>
						<textbox value="@bind(vm.editParam.criteria) @save(vm.editParam.criteria, before='save')"
						constraint="no empty: Kriteria harus diisi."/>
					</row>
					<row>
						<hbox><label value="*" style="color:red; font-weight: bold;"/><label value="Bobot" hflex="1"/></hbox>
						<doublebox value="@bind(vm.editParam.weight) @save(vm.editParam.weight, before='save')" onChange="@command('reCalc')" instant="true"
						constraint="no empty, no negative: Bobot harus diisi, dan harus positif."/>
					</row>
					<row>
						Aktif?
						<checkbox checked="@bind(vm.editParam.isActive)" onCheck="@command('reCalc')"/>
					</row>
					<row>
						<label style="@load(vm.currentSum>100?'color:red':'')" value="Total Bobot"></label>
						<cell>
							<label style="@load(vm.currentSum>100?'color:red':'')" value="@load(vm.currentSum)"></label>
							<label style="@load(vm.currentSum>100?'color:red':'')"> / 100.0</label>
						</cell>
					</row>
				</rows>
			</grid>
			<hlayout >
				<button label="SIMPAN" onClick="@command('save',btn=self)" />
				<button label="BATAL" onClick="self.getParent().getParent().setVisible(false)" />
			</hlayout>
		</window>

		<!-- START msgBOX SUCCESS -->
		<include src="/layout/msgFree.zul" />
		<!-- END msgBOX SUCCSESS -->

		<!-- START msgBOX SUCCESS -->
		<include src="/layout/confirm.zul" />
		<!-- END msgBOX SUCCSESS -->

	</window>
</zk>