<?page title="Content Management System" contentType="text/html;charset=UTF-8" automaticTimeout="false"?>
<?link rel="stylesheet" type="text/css" href="/css/login-style.css" ?>
<?link rel="icon" type="image/x-icon" href="/res/favicon.ico" ?>
<?script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" ?>
<?script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" ?>
<?script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" ?>
<?script src="/js/script.js"?>

<zk xmlns:h="html">
	<borderlayout self="@define(content)"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('id.co.indocyber.bmmRmiCms.controller.ForgetPassVmd')"
		sclass="login-container">

		<center sclass="login-content-wrapper">
			<div sclass="flex-column">
				<div sclass="logo-section">
					<image src="/res/logo_sparepart.png"
						width="200px">
					</image>
				</div>
				<div sclass="otp-form">
					<div sclass="form-item">
						<label value="Enter OTP code" />
					</div>
					<div sclass="form-item">
						<label
							value="Enter the 4 digit code sent to" />
						<label
							value="@load(vm.displayHp)" />	
					</div>
					<div sclass="login-form-wrapper">
						<div sclass="form-item">
							<textbox sclass="partitioned" onOK="@command('validateOtp')"
								value="@bind(vm.otpInput)" maxlength="4" />
						</div>
						<div sclass="form-item" visible="@load(vm.count ne 0)">
							<label visible="@load(vm.otpInvalid)" value="OTP is invalid. Please reinput the code or Request a new code."></label>
							<label
								value="You can request another OTP in "
								visible="@load(vm.count ne 0)" />
							<label visible="@load(vm.count ne 0)"
								value="@load(vm.count)" />
							<label visible="@load(vm.count ne 0)"
								value=" second(s)." />
						</div>
						<div sclass="form-item" visible="@load(vm.count eq 0)">
							<a sclass="right-hyperlink" onClick="@command('newOtp')">Request a new one.</a>
						</div>
						<div sclass="form-item btn-login-wrapper">
							<button class="btn-login"
								onClick="@command('validateOtp')">
								SUBMIT
							</button>
						</div>
					</div>
				</div>
				<timer id="timer" delay="1000"
					repeats="true" onTimer="@command('tickDown')">
				</timer>
				<label style="position:absolute; margin-top: 46%">
					Copyright &#169; 2018 PT Mascot International. All
					Rights Reserved.
				</label>
			</div>
		</center>
	</borderlayout>
</zk>