<?page title="User" contentType="text/html;charset=UTF-8"?>
<zk>
	<style>
		.button { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; height: 35px; width: 80px;
		font-size: 12pt; color:white; text-align: center;
		font-family:Calibri Light ; }

		.button:hover { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; opacity:0.4 }
	</style>
	<window title="" border="normal" sclass="content-window"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('id.co.indocyber.bmmRmiCms.controller.MDMappingVmd')"
		contentStyle="overflow:auto;">
		<label value="Pemetaan Petugas - Petani" style="font-size:24px;"/>
		<separator bar="true"/>
		<hbox width="100%">
			<cell>
				Petugas
				<bandbox value="@load(vm.selectEmployee.fullname)" readonly="true"
					onOpen="x1.focus(); x1.setValue(null)" width="250px">
					<bandpopup width="33%">
						<vbox>
							<hbox>
								Search:
								<textbox id="x1" onChange="@command('refEmp',src=self.value)"
								instant="true"/>
							</hbox>
							<listbox 
								emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda." 
								model="@load(vm.fEmpList)" 
								selectedItem="@bind(vm.selectEmployee)" mold="paging" pageSize="25"
								onSelect="((Bandbox)self.getParent().getParent().getParent()).close()">
								<listhead>
									<listheader label="ID" />
									<listheader label="Name" />
									<listheader label="Role" />
									<listheader label="Atasan" />
								</listhead>
								<template name="model">
									<listitem>
										<listcell label="@load(each.id)" />
										<listcell label="@load(each.fullname)" />
										<listcell label="@load(each.employeePosition)" />
										<listcell label="@load(each.manager.fullname)" />
									</listitem>
								</template>
							</listbox>
						</vbox>
					</bandpopup>
				</bandbox>
			</cell>
				<button label="Tampilkan" onClick="@command('getMapping')"/>
		</hbox>
		<separator bar="true"/>
		<div visible="@load(vm.empId ne null)">
			<grid>
				<columns>
					<column width="25%"/>
					<column width="75%"/>
				</columns>
				<rows>
					<row>
						<label value="Atasan: "/>
						<label value="@load(vm.sSelectEmployee.manager.fullname)"/>
					</row>
					<row>
						<label value="Bawahan-bawahan: "/>
						<label value="@load(vm.bawahan)"/>
					</row>
				</rows>
			</grid> 
		</div>
		<separator></separator>
		<hlayout visible="@load(vm.empId ne null)">
			<vbox hflex="1">
			<label value="Belum Ditugaskan" style="margin:auto"></label>
			<separator></separator>
			<textbox placeholder="Search..." hflex="1" onChange="@command('srcU',src=self.value)" instant="true"/>
			<listbox emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda." id="farmerList" 
				model="@load(vm.fFarmerU)" multiple="true" checkmark="true"
				selectedItems="@bind(vm.selectFarmerU)" mold="paging" pageSize="25">
				<listhead>
					<listheader label="No. Referensi" sort="auto(fullname)"></listheader>
					<listheader label="Nama" sort="auto(fullname)"></listheader>
					<listheader label="Desa" sort="auto(fullname)"></listheader>
				</listhead>
				<template name="model">
					<listitem>
						<listcell label="@load(each.referenceCode)"
							value="@load(each)" onDoubleClick="@command('dcAddFarmerToList',farmer=each)"/>
						<listcell label="@load(each.fullname)"
							value="@load(each)" onDoubleClick="@command('dcAddFarmerToList',farmer=each)"/>
						<listcell label="@load(each.village)"
							value="@load(each)" onDoubleClick="@command('dcAddFarmerToList',farmer=each)"/>
					</listitem>
				</template>
			</listbox>
			</vbox>
			<vbox spacing="20px" zclass="vbox">
				<button label="&gt;" style="margin-top: 30px;"
					onClick="@command('addFarmerToList')"/>
				<button label="&lt;"
					onClick="@command('removeFarmerFromList')" />
			</vbox>
			<vbox hflex="1">
			<label value="Penugasan" style="margin:auto"></label>
			<separator></separator>
			<textbox placeholder="Search..." hflex="1" onChange="@command('srcA',src=self.value)" instant="true"/>
			<listbox emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda." id="assignFarmerList"
				model="@load(vm.fFarmerA)" multiple="true" checkmark="true"
				selectedItems="@bind(vm.selectFarmerA)" mold="paging" pageSize="25">
				<listhead>
					<listheader label="No. Referensi" sort="auto(fullname)"></listheader>
					<listheader label="Nama" sort="auto(fullname)"></listheader>
					<listheader label="Desa" sort="auto(fullname)"></listheader>
				</listhead>
				<template name="model">
					<listitem>
						<listcell label="@load(each.referenceCode)"
							value="@load(each)" onDoubleClick="@command('dcAddFarmerToList',farmer=each)"/>
						<listcell label="@load(each.fullname)"
							value="@load(each)" onDoubleClick="@command('dcAddFarmerToList',farmer=each)"/>
						<listcell label="@load(each.village)"
							value="@load(each)" onDoubleClick="@command('dcAddFarmerToList',farmer=each)"/>
					</listitem>
				</template>
			</listbox>
			</vbox>
		</hlayout>
		<button label="Save" onClick="@command('save')" visible="@load(vm.empId ne null)"/>

		<!-- START msgBOX SUCCESS -->
		<include src="/layout/msgFree.zul" />
		<!-- END msgBOX SUCCSESS -->

		<!-- START msgBOX SUCCESS -->
		<include src="/layout/confirm.zul" />
		<!-- END msgBOX SUCCSESS -->
	</window>
</zk>