@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

@font-face {
	font-family: "Myriad";
	src: url("../res/font/MyriadPro-Regular.eot");
	src: url("../res/font/MyriadPro-Regular.otf") format("opentype");
}

body *:not([class*="z-icon-"]) {
	font-family: "Myriad";
}

body {
	margin: 0 !important;
	padding: 0 !important;
}

div.z-borderlayout {
	background-color: #f5f6f8;
}

/*
div.z-west {
	top: 0 !important;
}
*/

div.z-center {
	background: transparent;
}

div.z-north,div.z-center {
	width: 100% !important;
	position: static !important;
	overflow: auto;
}

div.z-north,div.z-north-body {
	height: 70px !important;
	width: auto !important;
}

div.z-center-body {
	width: auto !important;
	margin: 0;
	padding: 0;
}

div.z-borderlayout>div:nth-child(3) {
	margin-left: 245px;
	transition: all .5s;
}

div.z-borderlayout>div:first-child {
	box-shadow: 0 3px 15px lightgrey;
}

div.main-section {
	height: 100%;
}

div.ms-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

div.greeting-section {
	background-color: white;
	width: 80%;
	height: 450px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0 5px 10px #bdc3c7;
}

span.h3 {
	font-size: 20px;
	color: gray;
}

span.h1 {
	font-size: 32px;
	font-weight: 600;
	/*margin: 0 0 30px;*/
	display: inline-block;
	color: white;
}

span.orange-text {
	margin-left: 5px;
	color: #f39c12;
}

div.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

div.header-item {
	height: 70px;
}

div.header-item .h1 {
	font-size: 20px;
	font-weight: 600;
	margin: 0 auto;
}

div.header-item div.item:nth-child(2) {
	border-left: solid 0px lightgray;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
}

div.header-item div.item:nth-child(2)>div:nth-child(2) {
	display: flex;
	align-items: center;
	margin-top: 5px;
}

div.header-item:nth-child(2) {
	display: flex;
	justify-content: space-between;
	flex-basis: 87%;
	align-items: center;
	padding: 0 10px;
	text-align: right;
}

div.header-item a{
	margin-left: auto;
}

/* div.header-item div.user-data {
	margin-left: 10px;
} */

div.event-btn {
	padding: 0 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

/* div.toggle-btn {
	border-right: solid 0px lightgray;
}

div.logout-btn {
	border-left: solid 0px lightgray;
} */

div.event-btn:hover {
	background-color: #ecf0f1;
}

.z-borderlayout div.toggleAside {
	width: 0 !important;
}

.ml-zero {
	margin-left: 0 !important;
}
.z-tabbox-accordion .z-tabpanel > .z-tab:hover .z-tab-content .z-tab-text {
	color: rgb(45,98,61);
}
div.aside {
	background-color: rgb(230,231,233);
	height: 90% !important;
	width: 245px !important;
	transition: all .5s;
}

div.aside div.z-west-header {
	display: none;
}

div.web-logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

div.sb div.z-tab {
	border: none !important;
	background: transparent !important;
}
/*
div.sb div.z-tab.z-tab-selected {
	background: black !important;
}

div.sb div.z-tab:hover {
	background-color: black !important;
}
*/
.z-tab-selected .z-tab-text {
    color: rgb(45,98,61) !important;
}

div.sb div.z-tab.z-tab-selected:hover {
	background-color: #f1f1f2;
}

div.sb a.z-tab-content span.z-tab-text {
	color: rgb(112,112,114);
	font-size: 14px;
	padding: 15px 10px;
	border-top: 1px solid #d0d2d3;
}
/* div.sb a.z-tab-content span.z-tab-text:hover {
	color: #000000;
	font-size: 14px;
	padding: 15px 10px;
	background-color: #ffcb06;
} */

div.sb .z-tabbox-accordion>.z-tabpanels {
	border-top: none;
	border-bottom: 1px solid #d0d2d3;
}
div.sb .z-tabbox-accordion .z-tabpanel>.z-tabpanel-content {
	border: none;
	border-top: 0;
	padding: 0;
	height: auto !important;
}

div.sb .z-tabbox-accordion .z-tabpanel>.z-tabpanel-content .z-vlayout-inner,div.sb .z-tabbox-accordion .z-tabpanel>.z-tabpanel-content .z-vlayout-inner .z-tree,div.sb .z-tabbox-accordion .z-tabpanel>.z-tabpanel-content .z-vlayout-inner .z-tree .z-tree-body{
	height: auto !important;
	border: none;
}

.z-vlayout .z-vlayout-inner .z-image{
	object-fit: contain;
	width: 100%;
	height: -webkit-fill-available;
}
div.sb .z-treecell-content {
	padding: 10px 0 10px 35px;
	line-height: unset;
}

div.sb .z-treerow {
	background: #e8e8e8;
}

div.sb .z-treerow .z-treecell:hover {
/* 	background: #e8e8e8; */
/* 	color: rgb(45,98,61); */
	background: #499c62;
	color:white; 
}

div.sb .z-treerow .z-treecell:hover .z-treecell-text{
/* 	color: rgb(45,98,61); */
	color:white; 
}
div.sb .z-treerow .z-treecell {
	width: 100% !important;
}

div.sb .z-treecell-text {
	color: black;
}


div.sb .z-treecell-text+.z-label {
	display: none;
}

.z-treerow.z-treerow-selected>.z-treecell {
/* 	background: rgb(230,231,233) !important; */
	background: #2d623d !important;
}

.z-treerow.z-treerow-selected>.z-treecell .z-treecell-text{
	color:white; 
/* 	color: rgb(45,98,61); */
/* 	font-weight: bold;	 */
}

div.content-window {
	background-color: rgb(255, 201, 14);
	margin-bottom: 10px;
	padding: 0;
	border: none;
	border-radius: 0 !important;
	overflow: auto;
}

div.z-window-content {
	/* 	height: auto!important; */
	padding: 10px 10px 10px 22px;
}

div.content-window div.z-window-header {
	font-size: 14px;
	font-weight: 600;
	color: black;
	padding: 10px;
}

div.top-section {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

div.z-listbox-header{
	width: 100% !important;
	text-align: center;
}

div.z-grid-header,div.z-grid-body,div.z-grid-body table {
	width: 100% !important;
}

button.z-button,button.z-button:active,button.z-button:focus {
	background: rgb(45,98,61);
	color: white;
	border: none;
	margin: auto;
	text-align: center;
	min-height: 25px;
	width: 100px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	text-shadow: none;	
}

.btn2 .z-button {
	background: rgb(45,98,61);
	color: white;
	border: none;
	margin: auto;
	text-align: center;
	min-height: 37px;
	width: 150px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	text-shadow: none;	
}

.z-button:hover {
	background: black;
	color: rgb(45,98,61);
	border: 1px solid rgb(45,98,61);
}

.z-hlayout>button.z-button {
    background: #ffffff;
    color: black;
    border: none;
    width: auto;
}

.z-row-content .z-hlayout .z-hlayout-inner .z-button {
    background: #ffffff;
    color: black;
    border: none;
    width: auto;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.z-hlayout>button.z-button[disable]:hover {
    background: #ffffff;
    color: #000000;
    border: none;
}

.z-row-content .z-hlayout .z-hlayout-inner .z-div {
    background: #ffffff;
    color: #000000;
    border: none;
    width: auto;
}
.z-row-content .z-hlayout .z-hlayout-inner .z-intbox{
    background: #ffffff;
    color: #000000;
    border: 1px solid #333333;
    width: 30px;
}

.z-row-content .z-hlayout{
	margin-top: 5px;
	margin-bottom: -15px;
}

.z-hlayout{
	margin-top: 0px;
	padding-bottom: 2px;
}
div.z-listheader-content,div.z-column-content {
	color: #ffffff;
	background: rgb(247,177,56);
	text-align: center;
	font-weight: normal;
	white-space: normal;
}

th.z-listheader,th.z-column {
	background: rgb(247,177,56);
}

div.z-listbox {
	margin-bottom: 5px;
}

.z-window-content div.z-grid:nth-child(2){
	margin: 0;
}
a.z-paging-button {
	background: #ffffff;
	border: none;
}

.z-paging i.z-paging-icon {
	color: #000000;
}

.z-button[disabled] {
	color: #000000;
}
.z-messagebox .z-label {
	font-family: "Myriad";
}

.z-grid-odd>.z-row-inner,.z-grid-odd>.z-cell {
	background: #ffffff;
}

.z-tab-image{
	width: 20px;
}

.z-row:hover>.z-row-inner,.z-row:hover>.z-cell{
	background: #ffffff;
}
.z-listitem:hover>.z-listcell{
	text-align: center;
	background: #f1f1f2;
	border: 1px solid #f1f1f2;
	color: black;
}
.z-listbox-body{
	height: 100% !important;
	width: 100% !important;
}
.z-listbox-body table td{
	padding:0;
	border: 1px solid #ffffff;
	border-bottom: 1px solid #d0d2d3;
	width: 100% !important;
	text-align: center;
	background: #ffffff;
}

.z-listcell-content{
	color:#333333;
}
.z-listitem:hover>.z-listcell>.z-listcell-content{
	color: #000000;
}
.z-listitem>.z-listcell>.z-listcell-content>.z-image:nth-of-type(1){
	margin-right: 15px;
}
.z-listitem>.z-listcell>.z-listcell-content>a>.z-image:nth-of-type(1){
	margin-right: 15px;
}
.z-listitem:hover.z-listitem-selected.z-listitem-focus>.z-listcell{
	color: #000000;
	background: #f1f1f2;
	border: 1px solid #f1f1f2;
}

.z-listitem:hover.z-listitem-selected:hover>.z-listcell {
    background: #f1f1f2;
    color: #000000;
    border: 1px solid #f1f1f2;
    
}

.z-listitem.z-listitem-selected.z-listitem-focus>.z-listcell{
	color:black;
	background: #f1f1f2;
	border: 1px solid #f1f1f2;
}

.z-listitem:hover.z-listitem-selected.z-listitem-focus>.z-listcell>.z-listcell-content{
	color:#000000;
}

.z-listitem.z-listitem-selected.z-listitem-focus>.z-listcell>.z-listcell-content{
	color:#000000;
}

.z-listitem:hover{
	color:#000000;
	background: #f1f1f2;
	border: 1px solid #f1f1f2;
}

.z-separator-horizontal-bar{
	font-size:0;
	height:1px;
	line-height:0;
	overflow:hidden;
	background:#ffcb06;
	margin-top:15px;
	margin-bottom:30px;
}
.z-grid{
	border:none;
	overflow:hidden;
	zoom:1;
}
.z-row:hover .z-row-inner{
	background: #ffffff;
}
.z-textbox, .z-decimalbox, .z-intebox, .z-longbox, .z-doublebox{
	border-radius:5px;
	width: 174px;
	color: #000000;
	border-color: #333333;
}
.z-combobox-input, .z-bandbox-input, .z-timebox-input, .z-spinner-input, .z-doublespinner-input {
    border-radius: 5px 0 0 5px;
    width: 150px;
    border-color: #333333;
}
.z-combobox-button, .z-bandbox-button, .z-timebox-button, .z-spinner-button, .z-doublespinner-button {
    border-radius: 0 5px 5px 0;
    border-color: #333333;
}

.z-listbox-header table th{
	text-align:inherit;
	border: none;
}

.z-listitem.z-listitem-selected.z-listitem-focus:hover>.z-listcell {
    color: black;
    background: #f1f1f2;
    border: 1px solid #f1f1f2;
}

.z-listitem.z-listitem-selected>.z-listcell {
    color: #000000;
}

.z-listitem.z-listitem-selected:hover>.z-listcell {
	color: #000000;
	background: #f1f1f2;
}
.z-row-content .z-div .z-label{
	font-size: 13px;
	color: #000000;
}
.z-grid-body .z-rows .z-row-inner .z-row-content .z-div{
	padding-top: 20px;
}

.z-hlayout .z-hlayout-inner{
	margin-right: 20px;
}

.z-combobox-button .z-icon-caret-down:before {
    content: "\f107";
    color: #ffcb06;
}

.z-combobox-button {
    font-size: 16px;
    min-height: 24px;
    text-align: center;
    padding-top: 5px;
    border-left: none;
}

.z-combobox-button:hover {
    background: #ffffff;
    border: 1px solid #333333;
    border-left: none;
}

/* .z-datebox-button{
	border:none;
	font-size: 20px;
	width: 20px;
	border-radius:0px;
	text-align: center;
} */
/* .z-datebox-input{
	border: 1px solid #333333;
	border-radius: 5px;
	width: 174px;
} */
/* .z-datebox-button:hover{
	background: #ffffff;
} */

.z-icon-calendar:before{
    content: "\f073";
}

.z-window-content .z-grid:nth-child(2) .z-row-inner:nth-child(2) .z-row-content{
	display: flex;
/* 	justify-content: flex-end; */
	justify-content: flex-start;
}

.z-row-content .z-hlayout .z-hlayout-inner{
	margin-right: 0px;
}

div.header-wrapper div.profil .z-image{
	width: 30px;
}
.z-textbox[readonly],.z-decimalbox[readonly],.z-intbox[readonly],.z-longbox[readonly],.z-doublebox[readonly]{
	border-color: #333333;
	background:#ffffff;
	color: gray;
}
.z-combobox-input[readonly]{
	border: 1px solid #333333;
	background: #ffffff;
    color: gray;
    border-right: none;
}
.z-row-inner .z-row-content .z-label{
	color: #333333;
}

::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
height: 0px;
display: block;
background-color: transparent;
}

::-webkit-scrollbar-track-piece {
background-color: white;
-webkit-border-radius: 3px;
}

.z-listbox-body::-webkit-scrollbar-thumb {
background-color: black;
-webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #000000;
border: 1px solid #d0d2d3;
-webkit-border-radius: 3px;
}

.textbox[readonly]{
	border: 1px solid #333333;
    background: #ffffff;
    color: gray;
    border-radius: 5px;
    width: 75%;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 4px 5px 3px;
    line-height: 14px;
    min-height: 24px;
}

.textbox{
	border-radius: 5px;
    width: 75%;
    color: black;
    border: 1px solid #333333;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 4px 5px 3px;
    line-height: 14px;
    min-height: 24px;
    background: #ffffff;
}
.button{
	background: #ffcb06;
    color: black;
    border: none;
    text-align: center;
    min-height: 37px;
    width: 150px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: none;
}

/* .z-row-content .z-button{
	display: flex;
    width: auto;
    margin-left: 0;
}

.z-row-content .z-button:ACTIVE, .z-row-content .z-button:FOCUS{
	display: flex;
    width: auto;
    margin-left: 0;
} */

.newgrid .z-row-inner:nth-child(2) .z-row-content{
    width: auto;
}

.newgrid .z-row-inner:nth-child(3){
	display: flex;
	width:auto;
	margin-left:-60%;
}

.newgrid .z-button, .newgrid .z-button:ACTIVE, .newgrid .z-button:FOCUS, .newgrid .z-button{
	width: 60px;
	border-radius:3px;
	text-align: center;
}

.textboxindex{
	border-radius: 5px;
    width: 60%;
    color: black;
    border: 1px solid #333333;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 4px 5px 3px;
    line-height: 14px;
    min-height: 24px;
    background: #ffffff;
}

.textboxindex[readonly]{
	border: 1px solid #333333;
    background: #ffffff;
    color: gray;
    border-radius: 5px;
    width: 60%;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 4px 5px 3px;
    line-height: 14px;
    min-height: 24px;
}


.newgrid .z-row-inner:hover{
	border-left: 1px solid #fff;
}

/* .z-combobox-disabled *, .z-bandbox-disabled *, .z-datebox-disabled *, .z-timebox-disabled *, .z-spinner-disabled *, .z-doublespinner-disabled *{
	color: grey !important;
	background: #ffffff !important;
	cursor: default !important;
	opacity: .6;
	border: 1px solid #333333;
} */

/* .z-datebox{
	width: 75%;
	border: 1px solid #333333;
	border-radius: 5px;
	background: #ffffff;
} */
.z-datebox-input, .z-datebox-input:ACTIVE, .z-datebox-input:FOCUS{
	background: #ffffff;
	padding: 4px 5px 3px;
	border: 1px solid #333333;
	border-right: none;
	border-radius: 5px 0 0 5px;
}


.z-datebox-button, .z-datebox-button:ACTIVE, .z-datebox-button:FOCUS, .z-datebox-button:HOVER{
	border: 1px solid #333333;
	border-left: none;
	font-size: 16px;
	background: #ffffff;
	border-radius:0 5px 5px 0;
	text-align: center;
}

.datebox.z-datebox .z-datebox-input{
	width: 90%;
}

.dateboxindex.z-datebox {
	width: 60%;
}

.dateboxindex.z-datebox .z-datebox-input{
	width: 89%;
}

input[disabled]+.z-combobox-button:hover{
	border-color: #333333;
}

.vbox .z-button, .vbox .z-button:ACTIVE, .vbox .z-button:FOCUS{
	width: 60px;
    border-radius: 3px;
    text-align: center;
}

@MEDIA screen and (max-width:320px) {
	div.aside{
	display: inline;
	}
	
	div.z-north, div.z-north-body{
	display: inline;
	}
	
	.z-window-content{
	display: inline;
	}
}

.z-bandbox-button, .z-bandbox-button:hover{
	background: #ffffff !important;
	font-size: 14px;
	display: inline-block;
    min-width: 24px;
    height: 24px;
    border: 1px solid;
    border-left: none;
    border-color: #333333;
    padding: 4px;
    line-height: 14px;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    color: #000000;
}

.z-bandbox-button[disabled], .z-bandbox-button[disabled]:hover{
	background: #ffffff !important;
	font-size: 14px;
	display: inline-block;
    min-width: 24px;
    height: 24px;
    border: 1px solid;
    border-left: none;
    border-color: #000000 !important;
    padding: 4px;
    line-height: 14px;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    color: #000000 !important;
}

input[disabled]+.z-bandbox-button:hover{
	border-color: #000000;
}

.z-icon-search{
	color: black !important;
	background: #ffffff !important;
}
.z-bandbox-input, .z-bandbox-input[readonly]{
	border: 1px solid #333333;
	background: #ffffff;
    color: gray;
    border-right: none;
}

.z-bandbox-input[disabled]{
	border: 1px solid #000000;
    background: #ffffff !important;
    color: #000000 !important;
    border-right: none;
    width: 75%;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 4px 5px 3px;
    line-height: 14px;
    min-height: 24px;
}
.z-comboitem:hover, .z-comboitem-selected{
	background: #f1f1f2;
}
.z-comboitem-selected .z-comboitem-text, .z-comboitem:hover, .z-comboitem-selected:hover .z-comboitem-text{
	color: #333333;
}
.label-edit{
	font-size: 12px;
	font-weight: bold;
	padding: 4px 5px;
}
.grid-edit{
	margin: 10px 0 0 0;
}

.grid-edit .z-row-inner:nth-child(2) .z-row-content{
	width: auto;
}

.grid-edit .z-row-inner:nth-child(3){
	display: flex;
	width:auto;
	margin-left:-26%;
}

.grid-edit .z-button, .grid-add-user .z-button:ACTIVE, .grid-add-user .z-button:FOCUS, .grid-add-user .z-button{
	width: 60px;
	border-radius:3px;
	text-align: center;
}

.z-notification .z-notification-content {
	font-size: 18px;
}
/*
table {
  width: 100%;
  th { text-align: left; border-bottom: 1px solid #ccc;}
  th, td { padding: .4em; }
}
 
table.fold-table {
  > tbody {
    > tr.view {
      td, th {cursor: pointer;}
      td:first-child, 
      th:first-child { 
        position: relative;
        padding-left:20px;
        &:before {
          position: absolute;
          top:50%; left:5px;
          width: 9px; height: 16px;
          margin-top: -8px;
          font: 16px fontawesome;
          color: #999;
          content: "\f0d7";
          transition: all .3s ease;
        }
      }
      &:nth-child(4n-1) { background: #eee; }
      &:hover { background: #000; }
      &.open {
        background: tomato;
        color: white;
        td:first-child, th:first-child {
          &:before {
            transform: rotate(-180deg);
            color: #333;
          }
        }
      }
    }
  
    > tr.fold {
      display: none;
      &.open { display:table-row; }
    }
  }
}

.fold-content {
  padding: .5em;
  h3 { margin-top:0; }
  > table {
    border: 2px solid #ccc;
    > tbody {
      tr:nth-child(even) {
        background: #eee;
      }
    }
  }
}
*/

/*
#myTable thead > tr > th.detail,
#myTable tbody > tr:not(.detail-view) > td:first-of-type {
  display: none;
}

#myTable thead > tr > th:nth-child(2),
#myTable tbody > tr:not(.detail-view) > td:nth-child(2) {
  border-left: none!important;
}
*/
.z-auxheader{
	background: rgb(247,177,56);
}
.z-auxheader-content{
	color: #ffffff;
	text-align: center;
	font-weight: normal;
	white-space: normal;
}