<?page title="User" contentType="text/html;charset=UTF-8"?>
<zk xmlns:w="client" xmlns:ca="client/attribute">
	<style>
		.button { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; height: 35px; width: 80px;
		font-size: 12pt; color:white; text-align: center;
		font-family:Calibri Light ; }

		.button:hover { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; opacity:0.4 }
	</style>
	<script type="text/javascript">
        zk.afterMount(function() {
        	jq("@datebox > input ").mask("99-99-9999");
        }); 
    </script>
	<window title="" border="normal" sclass="content-window"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('id.co.indocyber.bmmRmiCms.controller.UMUserVmd')"
		contentStyle="overflow:auto;">
		<label value="Master User" style="font-size:24px;"/>
		<separator bar="true"/>
		<hbox width="100%">
			<cell width="50%">
				<textbox id="src" onOK="@command('src')" value="@bind(vm.arg)" 
					placeholder="Cari" width="60%" ca:autocomplete="off"/>
				<button label="Search" onClick="@command('src')"/>
			</cell>
			<cell width="50%">
			</cell>
		</hbox>
		<separator bar="true"/>
		<grid>
			<columns>
				<column width="20%" />
				<column width="80%" align="right" />
			</columns>
			<rows>
				<row>
					<hbox>
						<button label="+ BARU" onClick="@command('add')" disabled="@load(vm.btnAdd)" />
						<button label="RELOAD" onClick="@command('reload')" w:onClick="jq('$listUser').hide().slideDown(1000)" />
					</hbox>
					<hlayout>
						<button sclass="pageControl" label="&lt;&lt;"
							onClick="@command('switchPage',action='first')"
							disabled="@load(vm.pageNo eq 1)" />
						<button sclass="pageControl" label="&lt;"
							onClick="@command('switchPage',action='prev')"
							disabled="@load(vm.pageNo eq 1)" />
						<button sclass="pageNum" label="@load(vm.pageNo-2 le 0 ? '' : vm.pageNo-2)" onClick="@command('switchPage',action=self.label)" disabled="@load(vm.pageNo-2 le 0)" style="color:grey"/>
						<button sclass="pageNum" label="@load(vm.pageNo-1 le 0 ? '' : vm.pageNo-1)" onClick="@command('switchPage',action=self.label)" disabled="@load(vm.pageNo-1 le 0)" style="color:grey"/>
						<button sclass="pageNum" label="@load(vm.pageNo)" onClick="@command('switchPage',action=self.label)" disabled="true" style="color:black;"/>
						<button sclass="pageNum" label="@load(vm.pageNo+1 gt vm.maxPage ? '' :vm.pageNo+1)" onClick="@command('switchPage',action=self.label)" disabled="@load(vm.pageNo+1 gt vm.maxPage)" style="color:grey"/>
						<button sclass="pageNum" label="@load(vm.pageNo+2 gt vm.maxPage ? '' :vm.pageNo+2)" onClick="@command('switchPage',action=self.label)" disabled="@load(vm.pageNo+2 gt vm.maxPage)" style="color:grey"/>
						<button sclass="pageControl" label="&gt;"
							onClick="@command('switchPage',action='next')"
							disabled="@load(vm.pageNo ge vm.maxPage)" />
						<button sclass="pageControl" label="&gt;&gt;"
							onClick="@command('switchPage',action='last')"
							disabled="@load(vm.pageNo ge vm.maxPage)" />
					</hlayout>
				</row>
			</rows>
		</grid>
		<listbox id="listUser" height="100%"
			emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda."  model="@load(vm.userList)">
			<listhead>			
				<listheader label="ID" width="5%" sort="auto(personId)" onSort="@command('sort',col='personId')"/>
				<listheader label="Username" width="12.5%" sort="auto(username)" onSort="@command('sort',col='username')"/>
				<listheader label="Email" width="12.5%" sort="auto(email)" onSort="@command('sort',col='email')"/>
				<listheader label="Posisi" width="12.5%" sort="auto(roleName)" />
				<listheader label="IMEI" width="12.5%" sort="auto(imei)" onSort="@command('sort',col='imei')"/>
				<listheader label="No. HP" width="12.5%" sort="auto(phoneNum)" onSort="@command('sort',col='phoneNum')"/>
				<listheader label="Status" width="12.5%" sort="auto(isActive)" onSort="@command('sort',col='isActive')"/>
				<listheader label="Tools" width="10%"/>
				<listheader label="Action" width="10%" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell label="@load(each.personId)" />
					<listcell label="@load(each.username)" />
					<listcell label="@load(each.email)" />
					<listcell label="@load(each.roleName)" />
					<listcell label="@load(each.imei)"/>
					<listcell label="@load(each.phoneNum)"/>
					<listcell>
						<button
							visible="@load(each.isActive ? 'true' : 'false') "
							onClick="@command('ubahStatusAktif', dto = each)"
							label="Aktif" sclass="darkblue-btn" style="background: #d6f3c;" />
						<button
							onClick="@command('ubahStatusNonAktif', dto = each)"
							visible="@load(each.isActive ? 'false' : 'true')"
							label="Non Aktif" sclass="orange-btn" style="background: #fab047;" />
					</listcell>
					<listcell>						
						<button onClick="@command('clearImei', dto = each)" 
						visible="@load(each.isActive and (each.imei eq null or ' ' ? false : true))"
							label="Clear IMEI" sclass="darkblue-btn" style="background: #d6f3c;"/>
					</listcell>
					<listcell>
						<a onClick="@command('edit', item=each)" visible="@load(!vm.btnEdit and each.isActive)" tooltiptext="Edit user ${each.username}.">
							<image src="res/icon_edit.png"
								style="width:15px;" />
						</a>
						<!-- <a onClick="@command('del', item=each)" visible="@load(!vm.btnDel)" tooltiptext="Disable user ${each.username}.">
							<image src="res/icon_close.png"
								style="width:15px" />
						</a> -->
					</listcell>
				</listitem>
			</template>
		</listbox>
		<div style="float:right;">
			Page
			<label value="@load(vm.pageNo)" />
			of
			<label value="@load(vm.maxPage)" />
			, total
			<label value="@load(vm.recordCount) " />
			entries.
		</div>
		<window onClose="self.visible = false; event.stopPropagation();"
		 	closable="true" width="50%"
			visible="@bind(vm.editMode)" mode="modal" contentStyle="overflow:auto"
			style="-webkit-box-shadow: 1px 1px 10px 3px #969696; box-shadow: 1px 1px 10px 3px #969696;"
			xmlns:w="client">
			<label value="@load(vm.editUser.createdDate eq null ? 'Tambah':'Edit')" style="font-size:24px;"/>
			<label value=" User" style="font-size:24px;" />
			<a onClick="self.getParent().setVisible(false)"><image src="/res/icon_close.png" style="float:right; width:25px;"></image></a>
			<grid>
				<columns>
					<column width="15%" />
					<column width="35%" />
					<column width="15%" />
					<column width="35%" />
				</columns>
				<rows>
					<row>
						<hbox>
							<!-- <label value="*" style="color:red; font-weight: bold;"/> -->
							<label value="Username" hflex="1"/>
						</hbox>
						<textbox value="@bind(vm.editUser.username)" readonly="@load(vm.freezeId)" maxlength="40" tabindex="1"
						ca:autocomplete="new-password"/>
						<hbox>
							<!-- <label value="*" style="color:red; font-weight: bold;"/> -->
							<label value="Password" hflex="1" />
						</hbox>
						<textbox value="@bind(vm.passUser)" type="password" maxlength="15" tabindex="5"
							placeholder="@load(vm.editUser.createdDate eq null ? '(default password)':'Kosongkan untuk tidak mengganti.')"
							ca:autocomplete="new-password"/>
					</row>
					<row>
						<hbox>
							<!-- <label value="*" style="color:red; font-weight: bold;"/> -->
							<label value="E-mail" hflex="1"/>
						</hbox>
						<textbox value="@bind(vm.editUser.email)" maxlength="40" tabindex="2"/>
						<hbox>
							<!-- <label value="*" style="color:red; font-weight: bold;"/> -->
							<label value="No. HP" hflex="1"/>
						</hbox>
						<textbox value="@bind(vm.editUser.phoneNum)" maxlength="15" 
							readonly="@load(vm.role.id eq 2 and vm.editUser.createdDate ne null)"
							placeholder="08xxxxxxxxx"  tabindex="6">
							<attribute w:name="doKeyPress_">
								function(evt){
									if (!this._shallIgnore(evt, "+0123456789"))
									this.$doKeyPress_(evt);
								}
							</attribute>
						</textbox>
					</row>
					<row>
						<hbox>
							<!-- <label value="*" style="color:red; font-weight: bold;"/> -->
							<label value="Role" hflex="1"/>
						</hbox>
						<bandbox value="@load(vm.role.roleName)" readonly="true"
							onOpen="@command('loadListRole', tb=x1)" width="75%" tabindex="3">
							<bandpopup width="33%">
								<vbox>
									<hbox>
										Search:
										<textbox id="x1" onChange="@command('refListR',src=self.value)"
										instant="true" />
									</hbox>
									<listbox 
										emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda." 
										model="@load(vm.fRoleList)" 
										selectedItem="@bind(vm.role)" mold="paging" pageSize="25"
										onSelect="@command('newIdentity',bb=self)">
										<listhead>
											<listheader label="ID" />
											<listheader label="Name" />
										</listhead>
										<template name="model">
											<listitem>
												<listcell label="@load(each.id)" />
												<listcell label="@load(each.roleName)" />
											</listitem>
										</template>
									</listbox>
								</vbox>
							</bandpopup>
						</bandbox>
						<hbox>
							<!-- <label value="*" style="color:red; font-weight: bold;"/> -->
							<label value="Module" hflex="1"/>
						</hbox>
						<combobox readonly="true" model="@load(vm.moduleList)" disabled="true"
						selectedItem="@bind(vm.module)" value="@load(vm.module)" tabindex="7">
							<template name="model">
								<comboitem label="@load(each)"
									value="@load(each)">
								</comboitem>
							</template>
						</combobox>
					</row>
					<row>
						<hbox>
							<!-- <label value="*" style="color:red; font-weight: bold;"/> -->
							<label value="Profil" hflex="1"/>
						</hbox>
						<bandbox value="@load(vm.identity.fullname)" readonly="true"
							disabled="@load(vm.freezeProfile)" onOpen="@command('loadListProfile', tb=x2)" width="75%" tabindex="4"
							id="bbid">
							<bandpopup width="33%">
								<vbox>
									<hbox>
										Search:
										<textbox id="x2" onChange="@command('refListId',src=self.value)"
										instant="true" />
									</hbox>
									<listbox 
										emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda." 
										model="@load(vm.fIdList)" 
										selectedItem="@bind(vm.identity)" mold="paging" pageSize="25"
										onSelect="@command('syncCredentials',bb=bbid)">
										<listhead>
											<listheader label="Person ID" visible="@load(vm.role.id eq 2)"/>
											<listheader label="ID"/>
											<listheader label="Name" />
											<listheader label="Desa" visible="@load(vm.role.id eq 2)"/>
										</listhead>
										<template name="model">
											<listitem>
												<listcell label="@load(each.id)" visible="@load(vm.role.id eq 2)"/>
												<listcell label="@load(vm.role.id eq 2 ? each.referenceCode : each.id)" />
												<listcell label="@load(each.fullname)" />
												<listcell label="@load(each.desa)" visible="@load(vm.role.id eq 2)"/>
											</listitem>
										</template>
									</listbox>
								</vbox>
							</bandpopup>
						</bandbox>
						<label visible="@load(vm.flagIsActive)">Aktif?</label>
						<checkbox visible="@load(vm.flagIsActive)" checked="@bind(vm.editUser.isActive)" tabindex="8"/>
					</row>
				</rows>
			</grid>
			<separator></separator>
			<hlayout>
				<button label="SIMPAN" onClick="@command('save',btn=self)" />
				<button label="BATAL" onClick="self.getParent().getParent().setVisible(false)" />
			</hlayout>
		</window>
		
		<!-- START msgBOX SUCCESS -->
			<include src="/layout/msgFree.zul" />
		<!-- END msgBOX SUCCSESS --> 
		
		<!-- START msgBOX SUCCESS -->
			<include src="/layout/confirm.zul" />
		<!-- END msgBOX SUCCSESS --> 
		
	</window>
</zk>
